.home-wrap {
  background-color: var(--light-blue);
  height: 100%;
}

.home-intro {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.home-1 {
  text-align: center;
  font-family: var(--gill-sans);
  color: var(--white);
  margin: 10px;
}

.home-p {
  align-self: center;
  margin: 10px;
  font-family: var(--gill-sans);
  color: var(--white);
}

.home-img {
  align-self: center;
  width: 200px;
  margin: 20px;
}

.home-2 {
  font-family: var(--gill-sans);
  color: var(--white);
  margin: 20px;
  text-align: center;
}

.home-buttons {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
