.nav-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--med-blue);
  height: 80px;
}

.nav-thumb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: center;
  margin-left: 12px;
}

.nav-links {
  background: none;
  width: 180px;
  display: flex;
  margin-right: 12px;
  align-self: center;
  justify-content: space-between;
}

.nav-link {
  background: none;
  color: var(--white);
  font-size: 18px;
  font-family: var(--gill-sans);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--link-hover);
}
