.video-view {
  display: flex;
  flex-direction: row;
}

.arrow-left {
  cursor: pointer;
  border: none;
  background: none;
}

.arrow-right {
  cursor: pointer;
  border: none;
  background: none;
}
