.foot-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.foot-link-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
