* {
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
}

:root {
  --gill-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --light-blue: rgb(139, 183, 242);
  --med-blue: rgb(112, 140, 249);
  --white: rgb(219, 230, 251);
  --link-hover: rgb(251, 192, 128);
}
